import com.sun.jini.start.NonActivatableServiceDescriptor;
import com.sun.jini.start.ServiceDescriptor;
import com.sun.jini.config.ConfigUtil;
import java.io.File;

com.sun.jini.start {
    private static codebase = ConfigUtil.concat(new Object[] {
        "http://", ConfigUtil.getHostName(), ":8081/phoenix-dl.jar",
        " http://", ConfigUtil.getHostName(), ":8081/jsk-dl.jar"});

    private static policy = "policy/policy.all";
    private static classpath ="<JINI_HOME>phoenix.jar";
    private static config = "config/phoenix.config";

    static serviceDescriptors = new ServiceDescriptor[] {
	new NonActivatableServiceDescriptor(
	    codebase, policy, classpath,
	    "com.sun.jini.phoenix.PhoenixStarter",
	    new String[] { config })
    };
}


