import com.sun.jini.start.ServiceDescriptor;
import com.sun.jini.start.NonActivatableServiceDescriptor;
import com.sun.jini.config.ConfigUtil;

com.sun.jini.start {
		
   static private reggieCodebase = ConfigUtil.concat(new Object[] {
        "http://", ConfigUtil.getHostName(), ":8081/reggie-dl.jar",
        " http://", ConfigUtil.getHostName(), ":8081/jsk-dl.jar"});

    private static policy = "policy/policy.all";
    private static classpath = "<JINI_HOME>reggie.jar";
    private static config = "config/reggie.config";
   
    static serviceDescriptors = new ServiceDescriptor[] {

	new NonActivatableServiceDescriptor(
	    reggieCodebase, policy, classpath,
	    "com.sun.jini.reggie.TransientRegistrarImpl",
	    new String[] { config })
    };
}
