import java.util.logging.Level;

import net.jini.jeri.tcp.TcpServerEndpoint;
import net.jini.jeri.ProxyTrustILFactory;
import net.jini.jeri.BasicILFactory;
import net.jini.jeri.BasicJeriExporter;
import net.jini.jrmp.JrmpExporter;

import org.dancres.blitz.remote.debug.DebugILFactory;

import net.jini.core.entry.Entry;

org.dancres.blitz {
    // Default logging level
    //
    defaultLogLevel = Level.SEVERE;

    // Examples of setting log levels for specific components
    //
    // org_dancres_blitz_disk_DiskLogLevel = Level.INFO;
    // org_dancres_blitz_entry_SearchVisitorImplLogLevel = Level.FINE;
    // org_dancres_blitz_arc_cacheLogLevel = Level.INFO;
    // org_dancres_blitz_oid_AllocatorLogLevel = Level.ALL;
    // org_dancres_blitz_txn_LogBatcherLogLevel = Level.ALL;

    serverExporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(0),
                          new BasicILFactory(null, null), false, true);

}
