import com.sun.jini.start.ServiceDescriptor;
import com.sun.jini.start.NonActivatableServiceDescriptor;
import com.sun.jini.config.ConfigUtil;
com.sun.jini.start {
        private static codebasePort = "8082";

        private static codebase = ConfigUtil.concat(new Object[] {
            "http://", ConfigUtil.getHostName(), ":", codebasePort, "/",
            "blitz-dl.jar"});

        // Should be updated by installer
        // JINI 2.0 libs should be in this directory
        private static jiniRoot = "/Users/dan/jini/jini2_1/lib/";

        // Should be edited to point at the directory containing the je.jar
        // a version of which can be found in the dbjava directory of the
	    // distribution
        //
        private static dbLib = "dbjava/je.jar";

        // The directory where you installed Blitz
        //
        private static blitzRoot = "/Users/dan/src/jini/blitz_2fcs/";

        private static blitzLib = ConfigUtil.concat(new Object[] {
                                    blitzRoot, "lib/"
                                  });

        private static otherLib = ConfigUtil.concat(new Object[] {
                                    blitzRoot, "thirdpartylib/"
                                  });

        private static separator = System.getProperty("path.separator");

        static classpath = ConfigUtil.concat(new Object[] {
            jiniRoot, "jsk-lib.jar", separator, 
            jiniRoot, "sun-util.jar", separator, dbLib, separator, 
			otherLib, "backport-util-concurrent50.jar", separator,
            blitzLib, "blitz.jar"});

        private static config = ConfigUtil.concat(new Object[] {
            blitzRoot, "config/blitz.config"});

        private static policy = ConfigUtil.concat(new Object[] {
            blitzRoot, "config/policy.all"});

        static serviceDescriptors = new ServiceDescriptor[] {
                 // Blitz
                 new NonActivatableServiceDescriptor(
                        codebase, policy, classpath,
                        "org.dancres.blitz.remote.BlitzServiceImpl",
                         new String[] { config }
        )};
}
